{% extends "base.html" %}
{% load bootstrap4 %}
{% block our1 %}
  <a href="{{post.get_absolute_url}}">{{post.title}}</a>
{% endblock our1 %}
{% block our2 %}
  Share
{% endblock our2 %}
{% block content %}
    {% if sent %}
    <div style="max-width: 50%;text-align: center;margin: 0 25% 0;">
        <h1>E-mail successfully sent</h1>
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    </div>
    {% else %}
        <div style="max-width: 50%;text-align: center;margin: 0 25% 0;">
            <h1>Share "{{ post.title }}" by e-mail</h1>
        </div>
        <form action="" style="max-width: 50%;text-align: center;margin: 0 25% 0;" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div class="form-group mt-lg-3">
                    <button type="submit" class="primary_btn button-contactForm">Send Message</button>
                </div>
            {% endbuttons %}
        </form>
    {% endif %}
{% endblock %}